# Nave Bayes on 'tips' data set

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [3]:
dataset = sns.load_dataset("tips")
df = dataset.copy()
df.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

In [4]:
df['day'].isna()

0      False
1      False
2      False
3      False
4      False
       ...
239    False
240    False
241    False
242    False
243    False
Name: day, Length: 244, dtype: bool

### We'll try to predict size

#### Feature Engineering

In [6]:
# Convert 'sex' column to numeric
df['sex'] = df['sex'].cat.codes
df.head()

   total_bill   tip  sex smoker  day    time  size
0       16.99  1.01    1     No  Sun  Dinner     2
1       10.34  1.66    0     No  Sun  Dinner     3
2       21.01  3.50    0     No  Sun  Dinner     3
3       23.68  3.31    0     No  Sun  Dinner     2
4       24.59  3.61    1     No  Sun  Dinner     4