In [2]:
## Load the pickle file
import tensorflow as tf
from tensorflow.keras.models import load_model
import pickle
import pandas as pd
import numpy as np

In [3]:
## Load the ANN Trained Model, scaler, one hot encoder
model = load_model('model.h5')

with open('label_encoder_gender.pkl', 'rb') as file:
    label_encoder_gender = pickle.load(file)

with open('onehot_encoder_geo.pkl', 'rb') as file:
    onehot_encoder_geo = pickle.load(file)

WARNING:absl:Compiled the loaded model, but the compiled metrics have yet to be built. `model.compile_metrics` will be empty until you train or evaluate the model.

In [6]:
## Example input data
input_data = {
    'CreditScore':600,
    'Geography':'France',
    'Gender':'Male',
    'Age':40,
    'Tenure':3,
    'Balance':60000,
    'NumOfProducts':2,
    'HasCrCard':1,
    'IsActiveMember':1,
    'EstimatedSalary':50000
}

In [5]:
with open('scaler.pkl','rb') as file:
    scaler = pickle.load(file)

In [18]:
geo_encoded = onehot_encoder_geo.transform([[input_data['Geography']]]).toarray()

D:\jai\Python-Workspace\Krish Naik Udemy\Machine-Learning\12-Deep Learning\Bank_Employee_Retention_project\venv\Lib\site-packages\sklearn\utils\validation.py:2749: UserWarning: X does not have valid feature names, but OneHotEncoder was fitted with feature names
  warnings.warn(

In [20]:
gender_encoded = label_encoder_gender.transform([input_data['Gender']])

In [21]:
geo_encoded_df = pd.DataFrame(geo_encoded, columns=onehot_encoder_geo.get_feature_names_out(['Geography']))

In [22]:
geo_encoded_df

   Geography_France  Geography_Germany  Geography_Spain
0               1.0                0.0              0.0

In [23]:
gender_encoded_df = pd.DataFrame(gender_encoded, columns = ['Gender'])

In [24]:
gender_encoded_df

   Gender
0       1

In [46]:
input_df = pd.DataFrame([input_data])

In [47]:
input_df

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary
0,600,France,Male,40,3,60000,2,1,1,50000

In [48]:
input_df = pd.concat([input_df.drop(['Geography'], axis = 1), geo_encoded_df], axis = 1)

In [49]:
input_df

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Geography_France,Geography_Germany,Geography_Spain
0,600,Male,40,3,60000,2,1,1,50000,1.0,0.0,0.0

In [51]:
input_df['Gender'] = label_encoder_gender.transform(input_df['Gender'])

In [52]:
input_df

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Geography_France,Geography_Germany,Geography_Spain
0,600,1,40,3,60000,2,1,1,50000,1.0,0.0,0.0

In [53]:
## Scaling dataframe
input_scaled = scaler.transform(input_df)

In [54]:
input_scaled

array([[-0.53598516,  0.91324755,  0.10479359, -0.69539349, -0.25781119,
         0.80843615,  0.64920267,  0.97481699, -0.87683221,  1.00150113,
        -0.57946723, -0.57638802]])

In [56]:
## Prediction
prediction_probability = model.predict(input_scaled)[0][0]

1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 45ms/step

In [58]:
if prediction_probability > 0.5:
    print("The employ is likely to churn.")
else :
    print("The employ is not likely to churn.")

The employ is not likely to churn.